
.vscode/settings.json
node_modules/*
start
public/js/vue.js
views/app.html
views/index.html
public/img/sprite.psd
public/img/sprite.psd
public/img/sprite.psd
public/img/temp/*
public/img/mi.jpeg
public/img/mi.jpeg
public/img/sprite.psd
public/img/sprite.psd
public/img/upload/*
!public/img/upload/avatar_default.jpg
config/production.js
public/js/howler.min.js
