<main>
    <section id="js-box-section">
        <article id="js-article" class="about">

            <div class="about-content about-info ft14" >
                本博客创建于 2017 年 6 月 1 日，专注于分享新鲜有趣的东西, 前端开发,  娱乐,  生活,  NBA,  中式八球,  等等.
                <br>但其实这不是一个传统意义上的个人博客, 在这里也<span style="font-weight:bold;color:red;">可以注册自己的博客</span>, 和博主一起, 分享自己的所见所闻.
            </div>
            
            <div class="about-content about-title ft20">
                关于博主
            </div>

<pre class="about-landlord about-content ft16"><code class="lang-javascript">
{
    "nickname": "幽忧星君", 
    "contact": {
        "email": "blff122620@gmail.com",
        "github": "https://github.com/blff122620",
        "facebook": "https://www.facebook.com/xu.beau",
        "instagram": "https://www.instagram.com/blff122620"
    },
    "location": "GuangZhou, GuangDong, China",
    "hometown": "ChiFeng, Inner Mogolia, China",
    "education": {
        "Peking University": "Master", 
        "Harbin Institute of Technology": "Bachelor",
        "Major": "Software Engineering"
    },
    "once worked on": {
        "Netease Game": "Game Test Development Engineer",
        "Sybase": "Java Developer",
        "Linker": "Java and Web Developer"
    },
    "skills": ["HTML", "CSS", "JavaScript", "Game Testing", "8 Balls"],
    "tags": ["处女座", "桌球迷", "草原汉子", "爱唱歌"]
}

</code></pre>
            <div class="about-content about-title ft20">
                内容许可
            </div>
            <div class="about-content about-info ft14">
                除特别说明外，本站原创文章均采用 
                <a href="http://creativecommons.org/licenses/by-sa/4.0/deed.zh" class="n-color default-a" target="blank">
                    知识共享署名-相同方式共享 4.0 国际许可协议 
                </a>
                
                进行许可。
            </div>
        </article>
        
    </section>
</main>