
<div class="m-player">
    <div class="album" >
        <div class="play-pause"></div>
    </div>
    <div class="waveform progress vh" data-music="<%=audio%>">
        
        <div class="loading vv">
            
            
        </div>
    </div>
    
</div>
