<div class="comments " id="js-comment">
    <div style="display:none;"><input type="text" id="js-post-id" value="<%=post._id%>"></div>
    <div class="c-top">
        <p>{{comments.length}} 评论</p>
    </div>
    <div class="c-list" v-for="(comment,index) in comments" >
        <div class="c-data"><span>{{index+1}}楼</span>&nbsp;&nbsp;&nbsp;&nbsp;{{comment.content}}</div>
        <div class="c-detail">
            <div class="c-date">发布时间：{{comment.created_at}}

                <span v-if="comment.post_author || comment.session_author==(comment.author?comment.author._id:'null')"><a @click="delComment(comment._id)">删除</a></span>
            </div>

            <div class="c-user">
                评论者：<a v-if="comment.author" :href="'/posts?author='+comment.author._id">{{comment.author.nickname}}</a>
                <a v-else>游客</a></div>
        </div>
    </div>
    <div class="c-content">
        <form action="" method="post" class="comment-form" v-on:submit.prevent>
        <textarea class="textarea comment-textarea" required v-model="submitContent.comment" name="comment" id="js-textarea" cols="30" rows="7"  placeholder="
  1.欢迎批评指正
    
  2.欢迎疯狂吐槽

  3.欢迎泼墨挥毫
  "></textarea>
        </form>
    </div>
    <div class="c-submit">
        
        <button class="submit" @click="submit">提交评论</button>
        <span><input type="text" v-model="message" class="message"></span>
    </div>
    
</div>
