<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width
        ,initial-scale=1.0
        ,minimum-scale=1.0
        ,maximum-scale=1.0
        ,user-scalable=no">
    <title><%= blog.title %></title>
    <meta name="keywords" content="鲍旭, 广州, 牧马人, Beau, 北大, 网易游戏, 哈工大, Blog, 博客, 互联网, 个人博客, 博客系统, 个人网站, web前端, 技巧, 酷站, 前端开发, JavaScript, css, html"/>
    <meta name="description" content="鲍旭(Beau旭-牧马人)的个人博客，鲍旭(Beau旭-牧马人)的技术作品，鲍旭(Beau旭-牧马人)的生活成长,分享优秀实用的软件、新奇有趣的网站，关注前端开发技术。"/>
    <link rel="apple-touch-icon" href="/img/touchicon.png"/>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/nblog.css">
    <link rel="stylesheet" href="/css/themePurple.css">
    <link rel="stylesheet" href="/css/markdown5.css">
    <link rel="stylesheet" href="/css/prism.css" />
    <style>

    </style>
</head>
<body class="body">