<div class="img-handler pop" id="js-img-handler">
    <div class="pop-header" >
        <h4>请选择合适的区域作为头像</h4>
        <span class="js-pop-x">x</span>
    </div>
    <div class="pop-content clearfix" >
        <div class="clip-area" id="js-clip-area">
            <img width="100%" class="clip-base-img" id="js-clip-base-img">
            <img width="100%" class="clip-img" id="js-clip-img">
            <div class="drag-path" id="js-drag-path">
                <div id="box-nw" class="box-xs box-nw"></div>
                <div id="box-n" class="box-xs box-n"></div>
                <div id="box-ne" class="box-xs box-ne"></div>
                <div id="box-e" class="box-xs box-e"></div>
                <div id="box-se" class="box-xs box-se"></div>
                <div id="box-s" class="box-xs box-s"></div>
                <div id="box-sw" class="box-xs box-sw"></div>
                <div id="box-w" class="box-xs box-w"></div>
            </div>
        </div>
        <div><a href="" class="button">确定</a></div>
    </div>
</div>