<% if(authorName){%>
    <a href="/personal/info<%if(!!authorId){%>?author=<%=authorId%><%}%>">
    <%= authorName %>
    </a>
<% }else {%>
    <!-- Beau's&nbsp;&nbsp;BLOG -->
    <a href="/">
       <% if(user){%>
        <%=user.nickname%> 
       <% }else{ %>

        旭
        <% } %>
    </a>
<% } %>