<li class="more">
    <a class="nickname <%if(nicknameSelected){%>selected<%}%>">
    <%=user.nickname%>
    </a>
    <div class="classify">
        <ul>
            <li><a href="/personal">个人资料</a></li>
            <li><a href="/signout">登出</a></li>
            
        </ul>
    </div>
</li>