


     <% if (success) { %>
        <div class="alert">
            <p><%= success %></p>
        </div>
    <% } %>

    <% if (error) { %>
        <div class="alert">
            <p><%= error %></p>
        </div>
    <% } %>
    <!--<p>成功的</p>-->
