<div class="n-box box-shadow clearfix">
                    
                    <div class="n-tab overflow-ellipse"><a title="">撰写文章</a></div>
                    <div class="n-date"><%= date%></div>
                    <form action="/posts/publisher" method="post" class="n-box-form">
                    <div class="pub-title pub"><input required type="text" class="input" value="" placeholder="  标题：朋友，给文章起个带劲儿的标题吧" name="title"></div>
                    <div class="pub-tab pub"><input required type="text" class="input" value="" placeholder="  文章标签：建议小于6字" name="tab"></div>
                    <div class="pub-img pub"><input pattern="^((ht|f)tps?):\/\/([\w\-%]+(\.[\w\-%]+)*\/)*[\w\-%]+(\.[\w\-%]+)*\/?(\?([\w\-%\.,@?^=%&:\/~\+#]*)+)?" placeholder="  文章配图：(可选项)，在此输入图片URL" class="input" type="text" value="" name="img"></div>
                    <div class="pub-content pub"><textarea required class="textarea" name="content" id="" cols="30" rows="10" placeholder="  
  路漫漫其修远兮，这里写下的每字每句都将成为美好的回忆

  如果你会写markdown，那就太perfect了，我们支持MD的写法
     
  请在此尽情挥洒笔墨吧~"></textarea></div>
                    
                    <div class="pub "><button class="submit pub-btn" >发表美文</button></div>
                    </form>
                </div>