<%- include('components/head_top') %>
<%- include('components/head_bottom') %>

<header class="about-header" id="js-header" >
    <h1 class="ab-title">关于</h1>

<%- include('components/common_header') %>

<%- include('components/notification') %>