<%- include('header') %>
<main>
    <section id="js-box-section">
        <article id="js-article">
            <%- include('components/editor') %> 
        </article>
        
    </section>
</main>
<%- include('footer_top') %>
<%- include('footer_bottom') %>