    <footer>
        <div class="logo-footer"><%- include('components/logo') %></div>
        <div class="nav-footer">
            <%- include('components/nav') %>
        </div>
        <div class="info-footer">
            不要停留在过去，不要去回忆从前，不管发生什么，都不要放弃，坚持走下去，肯定会有意想不到的风景。也许不是你本来想走的路，也不是你本来想登临的山顶，可另一条路有另一条路的风景，不同的山顶也一样会有美丽的日出，不要念念不忘原来的路。
        </div>
        <div class="copyright">
            © 2017 - copyright. All Rights Reserved. Designed &amp; Developed by Beau. <a href="http://www.bx1987.com" target="blank">www.bx1987.com</a>
        </div>
        <div class="contact">
            <a href="https://github.com/blff122620" target="blank">
                <div class="git" title="github"></div>
            </a>
            <a href="https://www.facebook.com/xu.beau" target="blank">
                <div class="facebook" title="facebook"></div>
            </a>
           
        </div>
    </footer>
    <script type="text/javascript" src="/js/util.js"></script>
    <script src="https://unpkg.com/axios@0.12.0/dist/axios.min.js"></script>
    <script type="text/javascript" src="/js/vue.js"></script>
    <script>
    (function(){

        window.onload = function(){
            var burger = $$("#js-burger"),
                navAside = $$("#js-nav-aside"),
                article = $$("#js-article"),
                boxSection = $$("#js-box-section"),
                burgerClick = false,
                navAsideMove = 300,
                body = document.body || document.documentElement,
                touchStartX,touchEndX,
                loginBtn = $$(".js-login-button"),
                loginDiv = $$("#js-login"),
                regBtn = $$(".js-reg-button"),
                regDiv = $$("#js-reg"),
                mask = $$("#js-mask"),
                popX = $$(".js-pop-x"),
                navSlideIndex = 1;
            loginBtn.forEach(function(element,index) {
                element.onclick = function(){
                    regLogShow(element,loginDiv,index);
                };
            });
            
            regBtn.forEach(function(element,index){
                element.onclick = function(){
                    regLogShow(element,regDiv,index);
                };
            });

            popX.forEach(function(ele){
                ele.onclick =function(event){
                    event.stopPropagation();
                    regLogDisappear();
                }
            });

            function regLogShow(ele,whatDiv,index){
                if(index ==navSlideIndex){
                    navAsideTransform();
                }
                ele.classList.remove("underline");
                whatDiv.style.display = "block";
                whatDiv.scrollIntoView();
                maskShow(true);
            }
        
            mask.onclick = function(){
                regLogDisappear();
            }
            function regLogDisappear(){
                loginDiv.style.display = "none";
                regDiv.style.display = "none";
                maskShow(false,loginBtn,regBtn);
            }
            function maskShow(toggle){
                if(toggle){
                    mask.style.display = "block";
                    body.style.overflow = "hidden";
                }
                else{
                    for(var i=1;i<arguments.length;i++){
                        arguments[i].forEach(function(element){
                            element.classList.add("underline");
                        });
                    }
                    mask.style.display = "none";
                    body.style.overflow = "auto";
                }
            }

            burger.onclick = function(event){
                event.stopPropagation();
                navAsideTransform();  
                
            };
            boxSection.addEventListener("click",function(){
                if(burgerClick){
                    navAsideTransform(); 
                }
            });
            function handleTouch(event){
                switch(event.type){
                    case "touchmove":
                        if(navAsideOpen()){
                            event.preventDefault();
                        }
                        break;
                    case "touchstart":
                        touchStartX = event.changedTouches[0].clientX;
                        break;
                    case "touchend":
                        touchEndX = event.changedTouches[0].clientX;
                        if(navAsideOpen() && touchEndX-touchStartX>0){
                            //向右滑动
                            navAsideTransform(); 
                        }
                        break;

                }
            }
            function navAsideOpen(){
                if(navAside.classList.contains("burger-click")){
                    return true;
                }
                return false;
            }
            function navAsideTransform(){
                navAside.classList.toggle("burger-click");
                  
                burgerClick = !burgerClick;
                if(burgerClick){
                    body.style.transform = "translateX(-"+navAsideMove+"px)";
                    body.style.overflow = "hidden";
                }
                else{
                    body.style.transform = "translateX(0)";
                    body.style.overflow = "auto";
                }  
            }
            document.addEventListener("touchmove",handleTouch);
            document.addEventListener("touchstart",handleTouch);
            document.addEventListener("touchend",handleTouch);
            

            new Vue({
                el: '#js-reg-form',
                data:{
                    name:'',
                    nickname:'',
                    password:'',
                    repassword:'',
                    message:''
                },
                methods: {
                    check: function (event) {
                        var vm = this;
                        axios.post('/signup/check', this.$data)
                        .then(function (response) {
                            if(response.data.status == 'valid'){
                                vm.$el.submit();
                            }
                            else{
                                vm.message = response.data.msg;
                            }
                                
                        })
                        .catch(function (error) {
                            vm.message = '抱歉，服务器出错了';
                        });
                        
                        
                    }
                }
            });

            new Vue({
                el: '#js-login-form',
                data:{
                    name:'',
                    password:'',
                    message:''
                },
                methods: {
                    check: function (event) {
                        var vm = this;
                        axios.post('/signin/check', this.$data)
                        .then(function (response) {
                            if(response.data.status == 'valid'){
                                vm.$el.submit();
                            }
                            else{
                                vm.message = response.data.msg;
                            }
                                
                        })
                        .catch(function (error) {
                            vm.message = '抱歉，服务器出错了';
                        });
                        
                        
                    }
                }
            });


        };
        
        
    }());

    
    </script>

    <div class="mask" id="js-mask"></div>
    <%- include('components/login') %>
    <%- include('components/register') %>
</body>

</html>
