<!DOCTYPE html>
<html lang="zh">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width
        ,initial-scale=1.0
        ,user-scalable=no">
    <title>index</title>
    <link rel="stylesheet" href="../public/css/reset.css">
    <link rel="stylesheet" href="../public/css/global.css">
    <link rel="stylesheet" href="../public/css/nblog.css">
    <link rel="stylesheet" href="../public/css/themePurple.css">
    <style>

    </style>
</head>

<body>
    <header>
        <a href="http://www.bx1987.com" target="blank"><div class="logo">Beau的家园</div></a>
        <nav class="nav">
            <ul>
                <li><a href="#" class="underline">主页</a></li>
                <li><a href="#" class="nav-selected">关于我</a></li>
                <li><a href="#" class="underline">博客分类</a></li>
                <li><a href="mailto:blff122620@163.com" class="underline">联系我</a></li>
                <li><a class="underline" id="js-login-button">立即登录</a></li>
                <li><a class="underline" id="js-reg-button">免费注册</a></li>
            </ul>
        </nav>
        <div class="burger" id="js-burger"></div>
        <aside class="nav-aside" id="js-nav-aside">
            <ul>
            <li><a href="#" class="">主页</a></li>
            <li><a href="#" class="aside-selected">关于我</a></li>
            <li><a href="#" class="">博客分类</a></li>
            <li><a href="mailto:blff122620@163.com" class="">联系我</a></li>
            <li><a href="/login">立即登录</a></li>
            <li><a href="/register">免费注册</a></li>
            </ul>
            <div class="nav-aside-copyright">
                <span>Beau的家园</span><br/> Designed &amp; Developed by Beau. 
            </div>
        </aside>
    </header>
    <main>
        <section id="js-box-section">
            <article id="js-article">
                <div class="n-box box-shadow">
                    <div class="n-top"></div>
                    <div class="n-tab overflow-ellipse"><a title="鸡汤">鸡汤</a></div>
                    <div class="n-date">2017.07.01</div>
                    <div class="n-title">过往，终是回不去的曾经。</div>
                    <div class="n-content">当你简约、释然了自己的时候，你会发现另一份生命中的快乐。那快乐是发自一颗简单的心，那快乐是从心灵的草地里欢快的迸发出来，通过你温柔的眼眸和开心的笑声来传递。所以，心宽便心悦，你人生的天空是什么颜色，往往取决于你对人生的态度和对于自己情绪的驾驭。</div>
                    <div class="n-tab-smaller">
                        <a href="">鸡汤</a>
                        <a href="">暖文</a>
                        <a href="">爱心词汇</a>
                    </div>
                    <div class="n-read"><a href="" class="underline">阅读原文</a></div>
                </div>
                <div class="n-box box-shadow" v-for="box in boxes">
                    <div class="n-top"></div>
                    <div class="n-tab overflow-ellipse"><a :title="box.tab">{{box.tab}}</a></div>
                    <div class="n-date">{{box.date}}</div>
                    <div class="n-title">{{box.title}}</div>
                    <div class="n-content" >{{box.content}}</div>
                    <div class="n-tab-smaller">
                        <a :href="smallTab.href" v-for="smallTab in box.smallTabs">{{smallTab.text}}</a>
                        
                    </div>
                    <div class="n-read"><a :href="box.href" class="underline">阅读原文</a></div>
                </div>
                <div class="n-box box-shadow">
                    <div class="n-top"><img src="../public/img/gz.jpeg" alt=""></div>
                    <div class="n-tab overflow-ellipse"><a title="鸡汤">鸡汤</a></div>
                    <div class="n-date">2017.07.01</div>
                    <div class="n-title">过往，终是回不去的曾经。</div>
                    <div class="n-content">当你简约、释然了自己的时候，你会发现另一份生命中的快乐。那快乐是发自一颗简单的心，那快乐是从心灵的草地里欢快的迸发出来，通过你温柔的眼眸和开心的笑声来传递。所以，心宽便心悦，你人生的天空是什么颜色，往往取决于你对人生的态度和对于自己情绪的驾驭。</div>
                    <div class="n-tab-smaller">
                        <a href="">鸡汤</a>
                        <a href="">暖文</a>
                        <a href="">爱心词汇</a>
                    </div>
                    <div class="n-read"><a href="" class="underline">阅读原文</a></div>
                </div>
            </article>
            
            <div class="paging">
                <ul>
                    <a href="">
                        <li class="box-shadow">1</li>
                    </a>
                    <a href="" class="p-selected">
                        <li class="box-shadow">2</li>
                    </a>
                    <a href="">
                        <li class="box-shadow">3</li>
                    </a>
                    <a href="">
                        <li class="box-shadow">4</li>
                    </a>
                </ul>
            </div>
        </section>
    </main>
    <footer>
        <div class="logo-footer">Beau的家园</div>
        <div class="nav-footer">
            <ul>
                <a href="#" class="f-nav-selected">
                    <li>主页</li>
                </a>
                <a href="#">
                    <li>关于我</li>
                </a>
                <a href="#">
                    <li>博客分类</li>
                </a>
                <a href="mailto:blff122620@163.com">
                    <li>联系我</li>
                </a>
            </ul>
        </div>
        <div class="info-footer">
            不要停留在过去，不要去回忆从前，不管发生什么，都不要放弃，坚持走下去，肯定会有意想不到的风景。也许不是你本来想走的路，也不是你本来想登临的山顶，可另一条路有另一条路的风景，不同的山顶也一样会有美丽的日出，不要念念不忘原来的路。
        </div>
        <div class="copyright">
            © 2017 - copyright. All Rights Reserved. Designed &amp; Developed by Beau. <a href="http://www.bx1987.com" target="blank">www.bx1987.com</a>
        </div>
        <div class="contact">
            <a href="https://github.com/blff122620" target="blank">
                <div class="git" title="github"></div>
            </a>
            <a href="https://www.facebook.com/xu.beau" target="blank">
                <div class="facebook" title="facebook"></div>
            </a>
           
        </div>
    </footer>
    <script type="text/javascript" src="../public/js/util.js"></script>
    <script type="text/javascript" src="../public/js/vue.js"></script>
    <script>
    (function(){

        window.onload = function(){
            var burger = $$("#js-burger"),
                navAside = $$("#js-nav-aside"),
                article = $$("#js-article"),
                boxSection = $$("#js-box-section"),
                burgerClick = false,
                navAsideMove = 300,
                body = document.body || document.documentElement,
                touchStartX,touchEndX,
                loginBtn = $$("#js-login-button"),
                loginDiv = $$("#js-login"),
                regBtn = $$("#js-reg-button"),
                regDiv = $$("#js-reg"),
                mask = $$("#js-mask");

            loginBtn.onclick = function(){
                loginDiv.style.display = "block";
                maskShow(true);
            };

            regBtn.onclick = function(){
                regDiv.style.display = "block";
                maskShow(true);
            };
            mask.onclick = function(){
                loginDiv.style.display = "none";
                regDiv.style.display = "none";
                maskShow(false);
            }
            function maskShow(toggle){
                if(toggle){
                    mask.style.display = "block";
                    body.style.overflow = "hidden";
                }
                else{
                    mask.style.display = "none";
                    body.style.overflow = "auto";
                }
            }

            burger.onclick = function(event){
                event.stopPropagation();
                navAsideTransform();  
                
            };
            boxSection.addEventListener("click",function(){
                if(burgerClick){
                    navAsideTransform(); 
                }
            });
            function handleTouch(event){
                switch(event.type){
                    case "touchmove":
                        if(navAsideOpen()){
                            event.preventDefault();
                        }
                        break;
                    case "touchstart":
                        touchStartX = event.changedTouches[0].clientX;
                        break;
                    case "touchend":
                        touchEndX = event.changedTouches[0].clientX;
                        if(navAsideOpen() && touchEndX-touchStartX>0){
                            //向右滑动
                            navAsideTransform(); 
                        }
                        break;

                }
            }
            function navAsideOpen(){
                if(navAside.classList.contains("burger-click")){
                    return true;
                }
                return false;
            }
            function navAsideTransform(){
                navAside.classList.toggle("burger-click");
                  
                burgerClick = !burgerClick;
                if(burgerClick){
                    body.style.transform = "translateX(-"+navAsideMove+"px)";
                    body.style.overflow = "hidden";
                }
                else{
                    body.style.transform = "translateX(0)";
                    body.style.overflow = "auto";
                }  
            }
            document.addEventListener("touchmove",handleTouch);
            document.addEventListener("touchstart",handleTouch);
            document.addEventListener("touchend",handleTouch);

            var app4 = new Vue({
              el: '#js-article',
              data: {
                boxes: [
                  { tab: 'Java',
                    date: new Date().getDate(),
                    title:"星灵吉他",
                    content:"<h1>内容</h1>",
                    smallTabs:[
                        {
                            text:"鸡汤",
                            href:"#"
                        },
                        {
                            text:"打鸡血了",
                            href:"#"
                        }
                    ],
                    href:"ccccccc" 
                  }
                ]
              }
            });
        };
        
        
    }());

    
    </script>

    <div class="mask" id="js-mask"></div>
    <div class="login" id="js-login">
        <div>
            <form action="">
                <label class="form-label" for="">用户名<input required class="input" type="text"></label>
                <label class="form-label" for="">密码<input required class="input" type="password"></label>
                <button class="submit">登录</button>
            </form>
        </div>
    </div>
    <div class="register" id="js-reg">
        <div>
            <form action="">
                <label class="form-label" for="">用户名<input required class="input" type="text"></label>
                <label class="form-label" for="">密码<input required class="input" type="password"></label>
                <label class="form-label" for="">重复密码<input required class="input" type="password"></label>
                <button class="submit">注册</button>
            </form>
        </div>
    </div>
</body>

</html>
