<main>
    
    <section id="js-box-section">
        <article id="js-article">
            <% if(posts.length>0){%>
            <% posts.forEach(function (post) { %>
                <%- include('components/box', { post: post }) %>
            <% }); %>
            <% }else{%>
                <div class="alert">
                    <p>朋友，您的主页还空空如也，写篇文章先~</p>
                </div>
                 <%- include('components/pub-box') %> 
            <% }%>
            
        </article>
        
        <!--<div class="paging">
            <ul>
                <a href="">
                    <li class="box-shadow">1</li>
                </a>
                <a href="" class="p-selected">
                    <li class="box-shadow">2</li>
                </a>
                <a href="">
                    <li class="box-shadow">3</li>
                </a>
                <a href="">
                    <li class="box-shadow">4</li>
                </a>
            </ul>
        </div>-->
    </section>
</main>