<main>
    
    <section id="js-box-section">
        <article id="js-article">
            <% if(posts){%>
            <% if(posts.length>0){%>
            <% posts.forEach(function (post,index) { %>
                <%- include('components/box', { post: post ,index:posts.length-index}) %>
            <% }); %>
            <% }else{%>
                <div class="alert">
                    <p>啊，这里的空空的，好像一篇文章也没有呢...</p>
                </div>
                <% if(user){%>
                    <% if(authorId == user._id){%>
                        <div class="alert">
                            <p>哎呀，我的主页还空空如也，是不是要写篇文章先？</p>
                        </div>
                        <%- include('components/pub-box') %>
                    <%}%> 
                <%}%>
            <% }%>
            <% }%>
        </article>
        
        <%- include('components/page') %> 
    </section>
</main>