<%- include('header') %>
    <main>
        <section id="js-box-section">
            <article id="js-article">
               <%- include('components/pub-box') %> 
            </article>
            
        </section>
    </main>
<%- include('footer') %>