<%- include('components/head_top') %>
<%- include('components/head_bottom') %>

    <header class="users-header" id="js-header" >
        <h1 class="users-title">博主们</h1>
    
    <%- include('components/common_header') %>

<%- include('components/notification') %>