header {
    position: relative;
    /*height: 190px;*/
    /*width: 1000px;*/
    height: 500px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
body{
    min-width: 1000px;
}

.header-avatar{
    position: absolute;
    right: 40px;
    top:20px;
}
.about-header{
    position: relative;
    background:
        linear-gradient(to top,rgba(0,0,0,.4) 0, rgba(0,0,0,.4) 50px,hsla(0,0%,100%,0) 0),
        linear-gradient(to top,rgba(0,0,0,.5) 0,transparent 50%),
        url("/img/header_bg.jpg") center/cover fixed no-repeat;
    
}
.about-header .ab-title,
.users-header .users-title{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-shadow: 0 2px 5px rgba(0,0,0,.2);
    
}
.about-header .ab-title
{
    font-size: 7rem;
}
.users-header .users-title{
    font-size: 5rem;
}
.about{
    width: 680px;
    margin: 0 auto;
    padding-bottom: 30px;
}
.about .about-landlord{
    border-radius: .3em;
}
.about .about-title{
    line-height: 2;
}
.about .about-info{
    line-height: 2;
}
.users-header{
    position: relative;
    background:
        linear-gradient(to top,rgba(0,0,0,.4) 0, rgba(0,0,0,.4) 50px,hsla(0,0%,100%,0) 0),
        linear-gradient(to top,rgba(0,0,0,.5) 0,transparent 50%),
        url("/img/users.jpg") center/cover fixed no-repeat;
}
.n-users{
    display: table;
    margin: 0 auto 20px;
    padding: 0 100px;
    width: 1000px;
}
.n-users .n-users-title{
    text-align: center;
    padding-bottom: 30px;
}
.n-users .user-box{
    display: inline-block;
    margin: 10px;
    border-radius: 9px;
    width: 170px;
}
.user-box .box-avatar{
    overflow: hidden;
    width: inherit;
    height: 170px;
    cursor: pointer;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}
.box-avatar .avatar-a{
    width: inherit;
    height: inherit;
}
.card-info .card-line{
    display: block;
    padding: .2em .5em;
    line-height: 1.5;
}
.card-info .card-title{
    margin-top: 10px;
}
.card-info .card-semi-title{
    display: block;
    color: rgba(0,0,0,.4);
}
.card-info .card-bottom{
    margin-bottom: 10px;
}

.user-box .user-box-avatar{
    width: inherit;
    height: inherit;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    transition: .3s linear;
}
.user-box .user-box-avatar:hover{
    transform: translateZ(0) scale(1.05);
}

.top-progress{
    position: fixed;
    top: 0;
    width: 100%;
    height: 2px;
}


.burger {
    position: absolute;
    top: 10%;
    transform: translateY(-50%);
}
.logo-b,
.logo-c,
.logo-d,
.contact .git,
.contact .facebook,
.sprite
{
    background: url("/img/sprite.png");
}

.logo,
.logo-b,
.logo-c,
.logo-d,
header .semi-title {
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 3.2em;
}
.logo-b,
.logo-c,
.logo-d{
    width: 80px ;
    height: 50px;
    
}
.logo-b,
.logo-d{
    background-position: 0 -118px;
}

.logo-b-positon{
    top:5%;
}
header .semi-title{
    font-size: 1.4em;
    top: 25%;
}

.burger {
    display: none;
    right: 0;
    background: linear-gradient(to top,hsla(0,0%,100%,.8) 0 ,hsla(0,0%,100%,.8) 3px,
                 transparent 0,transparent 12px,
                 hsla(0,0%,100%,.8) 0 , hsla(0,0%,100%,.8) 15px,
                 transparent 0,transparent 24px,
                 hsla(0,0%,100%,.8) 0 , hsla(0,0%,100%,.8) 27px,transparent 0);
    ;
    width: 30px;
    height: 40px;
}


.nav{
    position: absolute;
    width: 100%;
    bottom: 0;
    margin: 0 auto;
}
.nav ul {

    cursor: default;
}

.nav li {
    display: inline-block;
    position: relative;
    margin-left: 55px;
    padding-bottom: .6em;
    font:1.8em sans-serif;
    
}
nav .more{
    position: relative ;
    overflow: visible ;
    cursor: pointer;
}

nav .more .classify{
    position: absolute;
    visibility: hidden;
    top: -18px;
    left: 50%;
    transform: translateX(-50%);
    width: 100px;
    z-index: 1;
    opacity: 0;
    cursor: pointer;
    border-radius: 3px;
    background: #fff;
    box-shadow:0 2px 6px rgba(0,0,0,.2);
    transition: .2s ease-in-out opacity;
}
nav .more:hover .classify{
    visibility: visible;
    opacity: 1;
}
nav .more>a{
    transition: .2s ease-in-out opacity;
}
nav .more:hover>a{
    opacity: 0;
}


nav .more .classify a{

    font-size: 16px;
    line-height: 45px;
    padding: 18px 18px;
}
nav .more .classify li{
    display: block;
    margin: 0;
    padding: 0;
}
nav .more .classify li:first-of-type{
    margin-top: 3px;
}
nav .more .classify li:last-of-type{
    margin-bottom: 3px;
}
nav .more>a::before,
.default-nav .more>a::before{
    content: "";
    position: absolute;
    
    border-color: #fff transparent transparent;
    border-style: solid;
    border-width: 6px;
}
nav .more>a::before{

    right: -17px;
    top: 50%;
    transform: translateY(-50%);
}
.default-nav .more>a::before{
    /*right: px;*/
    right: 0;
    top: 55%;
}
.nav-aside {
    display: none;
    position: fixed;
    transform: translateX(300px);
    top: 0;
    bottom: 0;
    right: 0;
    width: 300px;
    text-align: left;
}
.nav-aside a,
.fullscreen-default a{
    color: #fff;
    font-size: 2em;
    line-height: 50px;
}

.nav-aside ul,.nav-aside-copyright {
    margin: 20px 0 0 50px;
}

.nav-aside-copyright {
    color: #fff;
}
.nav-aside-copyright span{
    line-height: 50px;
    font-size: 3em;
}
.nav-aside-copyright a{
    font-size: 20px;
}
.fullscreen-default{
    display: none;
}
.default-nav{
    /*visibility: hidden;*/
    z-index: 1;
    position: fixed;
    top:0;
    overflow: visible;
    height: 60px;
    width: 100%;
    transition: .3s ease-in-out top; 
    text-align: center;
    line-height: 60px;
    cursor: default;
}
.default-nav:hover>.default-nav-horizon{
    opacity: .95;
}
.default-nav:hover>.logo-c{
    opacity: 0;
}
.default-move-nav{
    top:-60px;
}
.default-nav .default-nav-horizon>ul>li{
    display: inline-block;
    position: relative;
    font-size: 1.6em;
    padding:0 1em;
}
.default-nav .default-nav-horizon>ul>li>a{
    color: #fff;
}
.default-nav-horizon{
    opacity: 0;
    height: 60px;
    transition: .2s linear opacity; 
}
.default-nav-horizon .more .classify{
    top: 0;
}
.default-nav-horizon .more .classify li:first-of-type{
    margin-top: 0;
}
.logo-default-nav{
    position: absolute;
    left: 0;
    margin-left: 20px;
    transform:translateX(0);
}
.phone-nav-title{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.4em;
    line-height: 50px;
    visibility: hidden;
}
.phone-nav-burger span{
    display: none;
}
.logo-c{
    opacity: 1;
    transition: .2s linear opacity;
    background-position:  0 -168px;
}
.alert{
    /*position: absolute;*/
    text-align: center;
    width: 100%;
    /*top:138px;*/
    margin-bottom: 30px;
}
.alert p{
    display: inline-block;
    font-size: 1.3em;
    border-radius: 4px;
    padding: .5em 1em;
}


.n-box {
    position: relative;
    width: 950px;
    margin: 0 auto 50px;
    background: #fff;
}
.n-box .n-top{
    padding: 0;
}
.n-box .n-top img{
    width: 100%;
}

.n-box>div ,.n-box-form{
    padding: 0 120px 0 140px;
}

.n-box .box-content{
    padding-top: 20px;
    padding-bottom: 20px;
}
.n-box .box-top-content{
    padding-top:60px;
}
.n-box .nw-pos{
    position: absolute;
    top: -25px;
    left: 10px;
    
}
.nw-pos .large-avatar{
    position: absolute;
    z-index: 100;
    top: -20px;
    left: 220px;
    padding: 7px;
    padding-bottom: 5px;
    background: #fff;
    border: 1px solid rgba(0,0,0,.2);
    box-shadow: 0 2px 10px rgba(0,0,0,.2);
}
.large-avatar .lg-img{
    position: relative;
    
}
.nw-pos .large-avatar::before {
    content: "";
    background: #fff;
    position: absolute;
    padding: .5em;
    left: -.55em;
    top: 2em;
    transform: rotate(45deg);
    border: inherit;
    border-top: 0;
    border-right: 0;
}


.n-box .n-tab {
    float: right;
    position: relative;
    top: 20px;
    right: -12px;
    padding: 0;
    width: 88px;
    height: 32px;
    font-size: 1.4em;
    line-height: 32px;
    text-align: center;
    cursor: pointer;
}

.n-box .n-tab a {
    color: #fff;
    /*letter-spacing: .6em;*/
}

.n-box .n-date {
    overflow: hidden;
    padding-top: 57px;
    font-size: 1.4em;
    color: #bdbdbd;
}

.n-box .n-title {
    margin: 25px 0 30px;
    font-size: 3em;
    line-height: 1.25;
    
}
.n-box .n-title,
.n-box .n-content{
    word-wrap: break-word;
    /*word-break: break-all;*/
}

.n-box .n-content {
    overflow: hidden;
    position: relative;
    padding-top: 25px;
    font-size: 1.7em;
    line-height: 1.8;
    /*text-indent: 2em;*/
}
.n-box .n-content img{
    max-width: 100%;
}

.n-box .n-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 15%;
    right: 15%;
    height: 2px;
    background: #eee;
}

.n-box .n-read,
.n-box .n-read-time {
    padding-top: 30px;
    padding-bottom: 30px;
    
}
.n-box .n-read-time,
.n-box .n-read-time a{
    color:#bbb;
}
.n-box .n-read-time a{
    position: relative;
    padding-bottom: 2px;
    font-size: 1.2em;
    line-height: 2;
}
.n-box .n-read-time .edit{
    cursor: pointer;
}

.n-box .n-read a {
    position: relative;
    padding-bottom: 4px;
    font-size: 1.5em;
    line-height: 2;
}

.n-box .n-tab-smaller {
    position: relative;
    float: right;
    right: 10px;
    bottom: -18px;
    cursor: default;
    color: #aaa;
}

.n-box .n-tab-smaller a {
    /*margin-left: 4px;*/
    color: #aaa;
}
.n-box .n-tab-smaller img{
    position: relative;
    top:10px;
    right: -5px;
}
.n-box .comments{
    border-top: 1px solid #eee;
    /*height: 300px;*/
    padding-bottom:40px;
}
.comments .c-top{  
    position: relative;
    height: 92px;  
}
.comments .c-top::before{
    content:"";
    position: absolute;
    bottom: 0;
    width: 50px; 
    height: 4px;
}
.comments .c-top::after{
    content:"";
    position: absolute;
    bottom: 0;
    width: 100%; 
    height: 2px;
    background: #eee;
}
.comments .c-top p{
    position: absolute;
    bottom: 0;
    line-height: 25px;
    font-size: 14px;
    font-weight: bold;
}
.comments .c-content{
    margin-top:30px;
}
.comments .c-content .c-label{
    float: left;
    width: 52px;
    height: 52px;
    /*background: url("../img/sprite.png") 0 -51px;*/
}
/*.comments .c-content .c-input{
    overflow: scroll;
    border:1px solid #eee;
    text-indent: 1em;
    border-radius: .2em;
    color: #ccc;
    font-size: 1.6em;
    line-height: 3;

    outline: 0;
    height: 100px;

}*/
.comments .c-submit{
    position: relative;
    margin-top: 50px;
}
.comments .c-submit button{
    position: absolute;
    right: 0;
    bottom: 0;
}
.comments .c-list{
    position: relative;
    padding:20px 0 0;
    word-break: break-all;
    word-wrap: break-word;
}
.comments .c-list::after{
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%; 
    height: 1px;
    background: #eee;
}
.comments .c-list .c-data{
    font-size:1.8em;
    line-height: 1.5;
}
.comments .c-list .c-data span{
    font-size: .7em;
    color:#ccc;
}
.comments .c-list .c-detail{
    margin: 5px 0;
    
    font-size:.7em;
}
.comments .c-list .c-detail,
.comments .c-list .c-detail a{
    color: #ccc;
}
.comments .c-list .c-date{
    float: left;
}
.comments .c-list .c-user{
    overflow: hidden;
    text-align: right;
    position: relative;
    top: -10px;
}
.comments .c-list .c-user span{
    position: relative;
    right: 5px;
    bottom: 10px;
}
.comments .c-submit .message{
    position: relative;
    bottom:-10px;
    right: -25px;
    float: right;
    color: red;
    border:0;
}


.paging {
    margin: 50px auto;
    text-align: center;
}

.paging ul {
    cursor: default;
}

.paging li {
    display: inline-block;
    text-align: center;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 2em;
    margin: 0 .5em;
}

.paging a:hover {
    color: #fff;
}

footer {
    padding: 0 10%;
    cursor: default;
}

footer,
footer a {
    color: #fff;
    text-align: center;
}

.logo-footer {
    padding: 40px 0 40px;
    font-size: 3em;
}


.nav-footer li {
    display: inline-block;
    font-size: 2em;
    padding: 1em;
}

.nav-footer a:hover {
    color: #fff;
}

.nav-footer .selected {
    color: #fff;
}

.info-footer {
    position: relative;
    padding: 30px 0;
    margin-top: 30px;
    line-height: 23px;
}

.info-footer::before,
.info-footer::after {
    content: "";
    position: absolute;
    height: 2px;
}

.info-footer::before {
    top: 0;
    width: 100%;
}

.info-footer::after {
    bottom: 0;
    left: 20%;
    right: 20%;
}

.copyright a:hover {
    color: #ccc;
}

.copyright {
    margin-top: 30px;
}

.contact {
    padding: 30px 0;
}

.contact div {
    display: inline-block;
    width: 22px;
    height: 28px;
    margin: 0 1em;
}
.contact .git{
    background-position:  -56px 0;
}
.contact .facebook{
    background-position:  -80px 0;
}

.avatar-s,
.avatar-xs,
.avatar,
.avatar-mask{
    border-radius: 50%;
}
.avatar,
.avatar-mask{
    
    width: 90px;
    height: 90px;
}
.avatar-s{
    width: 40px;
    height: 40px;
}
.avatar-xs{
    width: 30px;
    height: 30px;
}
.avatar-n{
    width: 60px;
    height: 60px;
}

.avatar-upload img,
.avatar-mask{
    position: absolute;
    cursor: pointer;
    left: 30px;
    top: 20px;
}
.avatar-mask{
    display: none;
    line-height: 90px;
    text-align: center;
    color: #fff;
}
.avatar-upload:hover .avatar-mask{
    display: block;
    z-index: 1;
    background: rgba(0,0,0,.5);
}


.body .archive{
    display: table;
    margin: 0 auto;
    max-width: 90vw; 
    
}
.timeline-item {
	padding: 3em 2em 1em;
    position: relative;	
    max-width: inherit;
    border-bottom: 1px dotted rgba(0,0,0,.1);
}
.timeline-item::before {
    content: attr(date-is);
    position: absolute;
    left: 2em;
    font-weight: bold;
    top: 1em;
    display: block;
    font-weight: 700;
    font-size: .785rem;
    color: rgba(0,0,0,.7);
}

.timeline-item::after {
    width: 10px;
    height: 10px;
    display: block;
    top: 1em;
    position: absolute;
    left: -7px;
    border-radius: 10px;
    content: ''; 
    background: white;
}

.body .timeline-item:last-child{
    border-right-width: 0px;/*fix: has right border in mobile*/
}
.timeline-item .time-p{
    margin-top: 10px;
    color: rgba(0,0,0,.6);
}
.timeline-item .time-tab{
    padding: 0 5px;
    margin-right: 10px;
    line-height: 23px;
    border-radius: 4px;
    color: #fff;
}
.timeline-item .time-h1{
    max-width: inherit;
    line-height: 1.2;
}

.person-btn-grp .person-btn{
    display: block;
    margin: .6em auto;
}

/*屏幕尺寸小于640的时候采用如下样式*/

@media screen and (max-width: 640px) {
    body{
        min-width: unset;
    }
    .nav ul {
        display: none;
    }
    header {
        width: 100%;
        height: 350px;
    }
    
    header .logo {
        font-size: 1.7em;
        height: auto;
        transform:none;
        top:auto;
        left: auto;
        right: 10%;
        bottom: 15px;
    }
    header .logo-new{
        right: 100px;
        bottom: 10px;
    }
    header .logo-b{
        transform: none;
        top:7%;
        left: 10px;
    }
    
    header .burger {
        display: block;
        right: .8em;
        cursor: pointer;
    }
    header .semi-title{
        display: none;
    }
    .avatar-header-mobile{
        width: 80px;  
        height: 80px;
        border-radius: 0;
        border: 2px solid #fff;
    }
    .header-avatar{
        position: absolute;
        right: 10px;
        top:auto;
        bottom: 5px;
    }
    .default-nav-horizon{
        position: relative;
        height: 50px;
        opacity: 1;
        z-index: 1;
    }
    
    .default-nav-horizon ul{
        display: none;
    }
    .default-nav:hover>.default-nav-horizon{
        opacity: 1;
    }
    .phone-nav-burger {
        position: absolute;
        right: 10px;
        top: -4px;
        -webkit-tap-highlight-color: rgba(0,0,0,0);
        width: 25px;
        height: 40px;
        
    }
    .phone-nav-burger-bg{
        background: linear-gradient(to top,hsla(0,0%,100%,1) 0 ,hsla(0,0%,100%,1) 2px,
                     transparent 0,transparent 10px,
                     hsla(0,0%,100%,1) 0 , hsla(0,0%,100%,1) 12px,
                     transparent 0,transparent 20px,
                     hsla(0,0%,100%,1) 0 , hsla(0,0%,100%,1) 22px,transparent 0);
    }
    .phone-nav-burger span{
        display: inline;
        opacity: 0;
    }
    .fullscreen-default{
        position: fixed;
        top: 0;left: 0;right: 0;bottom:50px;
        display: block;
        visibility: hidden;
        opacity: 0;
        transition: .2s linear;
    }
    .fullscreen{
        top: 50px;left: 0;right: 0;bottom:0;
        visibility: visible;
        opacity: 1;
    }
    .phone-nav-title{
        visibility: visible;
    }
    .logo-d{
        margin: 0;
        width: 39px;
        height: 21px;
        background-position: 0 -220px;
        top: 15px;
        left: 10px;
    }
    .logo-c{
        display: none;
    }
    /*.login,.register{
        top:10%;
    }*/
    .alert{
        font-size: 1em;
        top:68px;
    }
    body {
        position: absolute;
        transition: .3s ease-in-out;
    }
    body .burger-click {
        display: block;
    }

    .n-box {
        width: 90%;
    }
    .n-box .n-title {
        font-size: 2.8em;
    }
    .n-box .n-tab {
        right: 0;
    }
    .n-box>div ,
    .n-box-form{
        padding: 0 1em 0 1em;
    }
  
    .n-box .n-read,
    .n-box .n-tab-smaller{
        margin-left: 20px;
    }
    .n-box .n-read{
        padding-left: 0;
        padding-top: 0;
        /*float: right;*/
    }
    .n-box .n-read-time{
        margin-left: 10px;
        padding-top: 20px;
    }
    .n-box .n-tab-smaller {
        position: relative;
        top:-15px;
        float: none;
        /*float: left;*/
        /*left: 6px;*/
        /*bottom: -16px;*/
        /*display: block;
        float: right;
*/    
    }
    footer .nav-footer li {
        font-size: 1.5em;
        padding: .5em;
    }

    .n-box .pub{
        padding: 0 20px;
    }
    .n-box .pub .input,.n-box .pub .textarea{
        font-size: 1em;
    }

    .comment-form{
        margin-right: 5%;
    }
    .logo-footer,
    .phone-nav-burger span{
        font-size: 2em;
    }
    .nav-aside-copyright>span{
        font-size: 1.5em;
    }
    .avatar-phone{
        width: 40px;
        height: 40px;
        
    }
    .avatar-upload img{
        right: 100px;
        left: auto;
        top: 15px;
    }
    .avatar-upload:hover .avatar-mask{
        display: none;
    }
    .box-content a.button{
        display: block;
        margin-bottom: 10px;
    }
    .label-mobile{
        padding-left: 20px;
    }
    .body .totop{
        display: none;
    }
    .paging .a{
        display: none;
    }
    
    .paging .a.p-selected,
    .paging .a.p-aside{
        display: inline-block;
    }
    .body .archive{
        margin-left: 5vw;
        
    }
    .timeline-item .time-h1{
        max-width:80vw;
        white-space: normal;
        overflow: auto;
    } 
    .about{
        width: 90vw;
        
    }
    .about-header,
    .users-header{
        background-attachment: scroll;
    }
    .n-users{
        width: auto;
        padding: 0;
        text-align: center;
        
    }
    .n-users .user-box{
        text-align: left;
        /* display: block; */
        width: 140px;
    }
    .user-box .box-avatar{
        height: 140px;
    }
    .user-box .card-title{
        font-size: 1.3rem;
    }
    .user-box .card-content{
        font-size: 1.2rem;
    }
    .nw-pos .large-avatar::before {
        content: "";
        background: #fff;
        position: absolute;
        padding: .5em;
        left: 4.5em;
        top: -.55em;
        transform: rotate(45deg);
        border: inherit;
        border-bottom: 0;
        border-right: 0;
    }
    .nw-pos .large-avatar{
        left: -20px;
        top: 80px;
    }
    .large-avatar .lg-img{
        width: 91vw;
    }
}
@media screen and (max-width: 640px) {
  /*代码片段*/
    .n-box .n-content pre{
        max-width: 75vw;
    }
}

