body{
    background: #f7f9fc;
}

header,header a,header a:hover,
.phone-nav-title a,
.logo-footer a:hover{
    color: #fff;
}

::selection,
.paging a.p-selected,
button.submit,
a.button,
nav .more .classify li:hover a,
.phone-nav-title,
.phone-nav-burger span{
    color: #fff;
}

.n-box .n-tab,
button.submit,
a.button{
   
    /*background: linear-gradient(hsla(0,0%,100%,.2) 0,hsla(0,0%,100%,.2) 100%) #5c6bc0;*/
    background: linear-gradient(hsla(0,0%,100%,.2) 0,hsla(0,0%,100%,.2) 100%) #2196f3;
}

.nav li>a::before,
.nav .selected::after,
.n-box .n-tab:hover,
.n-box .n-read a:hover::before,
.paging a:hover li,
.paging a.p-selected li,
::selection,
footer,
button.submit:hover,
a.button:hover,
.comments .c-top::before,
.nav-aside,
.default-nav-horizon,
nav .more .classify li:hover,
.fullscreen-default
{
    /*background: #5c6bc0;*/
    background:#2196f3;
}
nav .more>a::before,
.default-nav-horizon li>a::before{
    background: transparent; 
}
.default-nav-horizon .selected::after,
.default-nav-horizon li>a.underline::before{
    background:#fff;
}



.n-box .n-read a,
.n-box .n-tab-smaller a:hover,
.alert p,
.pop .pop-header span:hover,

.n-box .n-read-time .edit:hover,
.comments .c-top p,
nav .more .classify a,
.comments .c-list .c-detail a:hover,
.label,
.n-color,
.timeline-item .time-h1:hover a
{
    /*color:#5c6bc0;*/
    color: #2196f3;

}

.logo-footer a,
.nav-aside .selected,
.nav-aside-copyright span,
.nav-footer a,
.info-footer,
.copyright ,
.fullscreen-default .selected{
    /*color:#866995;*/
    color: hsla(0,0%,100%,.6);
}
.info-footer::after,.info-footer::before{
    background: linear-gradient(hsla(0,0%,100%,.2) 0 , hsla(0,0%,100%,.2) 100%);
}

button.submit,
a.button,
.alert p{
    /*border:1px solid #5c6bc0; */
    border:1px solid #2196f3;  
}

.body .timeline-item{
    border-left: 2px solid #2196f3;
}
.body .timeline-item::after{
    border: 2px solid #2196f3;
}
.body .timeline-item:last-child{
    border-image: linear-gradient(
        to bottom,
        #2196f3 60%,
        rgba(0,0,0, 0) 100%) 1 100%
    ;
}
.alert.error p{
    border:1px solid red;
}
.alert.error p{
    color: red;
}


