body{
    background: #f7f9fc;
}
.nav-aside{
    background: #252b4d;
}

::selection,
.paging a.p-selected,
button.submit{
    color: #fff;
}

.n-box .n-tab,
button.submit{
   
    background: linear-gradient(hsla(0,0%,100%,.2) 0,hsla(0,0%,100%,.2) 100%) #5c6bc0;
}

.nav li>a::before,
.nav .nav-selected::after,
.n-box .n-tab:hover,
.n-box .n-read a:hover::before,
.paging a:hover li,
.paging a.p-selected li,
::selection,
footer,
button.submit:hover
{
    background: #5c6bc0;
}

button.submit:active

.n-box .n-read a,
.n-box .n-tab-smaller a:hover
{
    color:#5c6bc0;

}

.logo-footer,
.nav-aside .aside-selected,
.nav-aside-copyright span{
    color:#4a569a;
}
.info-footer::after,.info-footer::before{
    background: #5765b5;
}

button.submit{
    border:1px solid #5c6bc0;   
}


