body{
    background: #f7f9fc;
}

header a,header a:hover{
    color: #fff;
}

::selection,
.paging a.p-selected,
button.submit,
nav .more .classify li:hover a,
.phone-nav-title,
.phone-nav-burger span{
    color: #fff;
}

.n-box .n-tab,
button.submit{
   
    /*background: linear-gradient(hsla(0,0%,100%,.2) 0,hsla(0,0%,100%,.2) 100%) #5c6bc0;*/
    background: linear-gradient(hsla(0,0%,100%,.2) 0,hsla(0,0%,100%,.2) 100%) #2196f3;
}

.nav li>a::before,
.nav .selected::after,
.n-box .n-tab:hover,
.n-box .n-read a:hover::before,
.paging a:hover li,
.paging a.p-selected li,
::selection,
footer,
button.submit:hover,
.comments .c-top::before,
.nav-aside,
.default-nav-horizon,
nav .more .classify li:hover,
.fullscreen-default
{
    /*background: #5c6bc0;*/
    background:#2196f3;
}

.default-nav-horizon li>a::before,
.default-nav-horizon .selected::after{
    background:#fff;
}



.n-box .n-read a,
.n-box .n-tab-smaller a:hover,
.alert p,
.login .pop-header span:hover,
.register .pop-header span:hover,
.n-box .n-read-time .edit:hover,
.comments .c-top p,
nav .more .classify a,
.comments .c-list .c-detail a:hover
{
    /*color:#5c6bc0;*/
    color: #2196f3;

}

.logo-footer,
.nav-aside .selected,
.nav-aside-copyright span,
.nav-footer a,
.info-footer,
.copyright ,
.fullscreen-default .selected{
    /*color:#866995;*/
    color: hsla(0,0%,100%,.6);
}
.info-footer::after,.info-footer::before{
    background: linear-gradient(hsla(0,0%,100%,.2) 0 , hsla(0,0%,100%,.2) 100%);
}

button.submit,
.alert p{
    /*border:1px solid #5c6bc0; */
    border:1px solid #2196f3;  
}
.alert.error p{
    border:1px solid red;
}
.alert.error p{
    color: red;
}


